<ion-view view-title="Contact">
    <ion-content class="padding about">
        <div class="branding">
        <h1 class="homeheader">Contact</h1>
        <p>
            Vi borde ha våran mejl här nånstans...
            Men någon åt upp den. Vi bryr oss inte, WHATEVER!
        </p>
        <p>
            Men någon som heter Damian och kanske Edvard och maybe Marco, may be involved.
        </p>
        <p>
            Contact your nearest police station. Dead or alive. We need them.
        </p>
        </div>
    </ion-content>
</ion-view>