<ion-view view-title="Home">
    <ion-content class="padding homesplash home">
        <div class="branding">
        <img src="img/ionic.png" alt="logo">
        <h1 class="homeheader">Stockholm Bed & Breakfast</h1>
        <p class="homeheading">Välkommen till Stockholms Bed & Breakfast!</p>
        <p class="homeheading">
            Från skaparna av PhoneBros kommer....
        </p>
        <h3 class="homeheader2">STOCKHOLM BNB</h3>
        <p>
            Spring medans du kan....
        </p>
        </div>
    </ion-content>
</ion-view>