<ion-view view-title="Room booking">
    <ion-content class="padding" ng-repeat="item in rum | filter: {ID : valdrum}">
            <h1>{{item.Namn}}</h1>
            <a href="img/{{item.FilNamn}}.jpg"><img ng-src="img/{{item.FilNamn}}.jpg" width="90%" max-width="800px" alt=""></a>
            <h3>{{item.Beskriv}}</h3>
            <p>{{item.lBeskriv}}</p>
            <h5>{{item.Pris}} | {{item.Valuta}}</h5>
            <hr>
            <h3 class="rubrik">Booka här</h3>
            <form ng-submit="submit()" name="form">
                <div class="booka">
                    <h3>Personer</h3>
                <ion-item ng-repeat="item in rum | filter: {ID : valdrum}" ng-init="data.antvuxen=item.MaxVux" class="booka">
                    <label class="item item-input item-stacked-label">
                    <span>Antal vuxna</span>
                    <input type="number" name="vuxen" required min="1" value="1" max="{{item.MaxVux}}" ng-model="data.antvuxen">
                    </label>
                </ion-item>
                <label class="container checkboxbarn">
                    <ion-checkbox ng-model="barnChecked" ng-init="checked=false">Har du barn?</ion-checkbox>
                </label>
                <ion-item ng-repeat="item in rum | filter: {ID : valdrum}" class="booka">
                <label ng-if="barnChecked" class="item item-input item-stacked-label">
                    <span>Antal barn</span>
                    <input type="number" name="barn" required min="0" value="0" max="{{item.MaxVux - data.antvuxen}}" ng-model="data.antbarn">
                </label>
                </ion-item>
                <hr>
                <h3>Datum</h3>
                <label class="item item-input item-stacked-label">
                    <span>Check-in</span>
                    <input type="date" name="checkin" required ng-model="data.date1" id="checkin" min="{{today}}" ng-blur="getBookDate()">
                </label>
                <label class="item item-input item-stacked-label">
                    <span>Check-out</span>
                    <input type="date" name="checkout" required ng-model="data.date2" id="checkout" min="{{bookDate}}" ng-blur="confirm()">
                </label>
                <hr>
                <h3>Information</h3>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Namn</span>
                    <input type="text" name="fNamn" required ng-model="data.fNamn" id="fNamn" placeholder="Ditt förnamn">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Efternamn</span>
                    <input type="text" name="eNamn" required ng-model="data.eNamn" id="eNamn" placeholder="Ditt efternamn">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Telefonnummer</span>
                    <input type="number" name="telefon" required ng-model="data.telefon" id="telefon" placeholder="0123456789">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">E-mail</span>
                    <input type="email" name="email" required ng-model="data.email" id="email" placeholder="email@email.com">
                    <div ng-show="form.email.$error.email" class="error">
                        Ange ett giltig e-postadress tack!
                    </div>
                </label>
                <hr>
                <h3>
                    Antal dagar
                </h3>
                <label class="item item-stacked-label" ng-model="data.days" ng-init="data.days=diffFinal">{{diffFinal}}</label>
                <h3>Total pris</h3>
                <label class="item item-stacked-label" ng-model="data.totalprice" ng-init="data.totalprice=totalPris">{{(item.Pris-0)*(dateDifference(data.date1, data.date2)-0)}}</label>
                    
                <button class="button button-block button-success" id="submit_btn" ng-disabled="form.$invalid" ng-click="showPopup()">Submit</button>
                <!--<input class="button button-block button-success" type="submit" name="submit" value="Skicka" id="submit_btn" ng-disabled="form.$invalid">-->
                </div>
            </form>
            <div class="item item-text-wrap">
      <h3>Testing</h3>
      {{data}}
    </div>
    </ion-content>
</ion-view>