<ion-view view-title="Book rooms">
    
    <ion-content class="padding roomslist">
            <ion-refresher pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
            </ion-refresher>

        <ion-item ng-repeat="item in rum" class="item-thumbnail-right" href="#/tab/rooms/{{item.ID}}">
            <img ng-src="img/{{item.FilNamn}}.jpg" alt="">
            <h2>{{item.Namn}}</h2>
            <h3>{{item.Beskriv}}</h3>
            <h4>{{item.Pris}} | {{item.Valuta}}</h4>
        </ion-item>
    </ion-content>
</ion-view>