/* Empty. Add your own CSS if you like */
h1{
    text-align: center;
}
.rubrik{
    text-align:center;
    background-color: #e8f2ff;
    padding:10px;
}
.booka{
    background-color: #f6faff;
}
.home{
    background-color: #fff;
}
.nav-bar-lel{
    background-color: #387ef5;
}
.checkboxbarn{
    padding:10px;
}
.branding{
    width: 50%;max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    padding:20px;
}
.homeheader{
    color:#fff;
}
.homesplash{
    background: url(../img/hotel.jpg) no-repeat center center fixed;
    background-size: cover;
}

.error{
    color: red;
}
.homeheader2{
    color:white;
}
.homeheading{
    padding:20px;
    font-size: 16px;
}
.roomslist{
    background: url(../img/hotel.jpg) no-repeat center center fixed;
    background-size: cover;
}
.about{
    background: url(../img/hotel.jpg) no-repeat center center fixed;
    background-size: cover;
}